<%@flights.each do |flight| %>
  <section id='flight-<%= flight.id %>'>
  <h1><%=flight.number%></h1>
    <%flight.passengers.each do |passenger| %>
      <%=passenger.name %>
      <%= link_to "Remove #{passenger.name} from flight", "flights/passengers/#{passenger.id}/remove", method: :delete %>
    <%end %>
  </section>
<%end %>
